
h1, h2 {
        color: green;
    }
    p {
        color: red;
    }
    ul {
        border: 2px solid yellow;
    }
    ol {
        border: 2px solid blue;
    }
    ol, ul {
        padding: 5px 20px;
        border-radius: 4px;
    }
    h1, strong {
        color: green;
    }
    em {
        color: red;
    }
